// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$header-background-color: #506AA6;
$background-color: #FFEEC7;
$text-blue: #A5BDF2;
$card-background-color: #518EBD;
$card-background-color-hover: #6CA2CC;
$text-color: #1A2E3D;
