// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$page-spacer-color: #faf5f5;
$page-background-color: #fcfcfc;
$header-orange-color: #e39732;
$text-default-color: #141612;
$text-default-color-hover: #4c6c2b;
