.default-button {
  background-color: $card-background-color;
  padding: 10px 20px;
  border-radius: 5px;
  color: $background-color;
  transition: 0.3s;
  &:hover {
    background-color: $header-background-color;
    color: $background-color;
  }
}

.default-small-button {
  background-color: $card-background-color;
  padding: 3px 8px;
  border-radius: 5px;
  color: $background-color;
  transition: 0.3s;
  &:hover {
    background-color: $header-background-color;
    color: $background-color;
  }
}
