h3 {
  font-size: 32px;
  font-weight: 600;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.description-box {
  margin-right: 80px;
  width: 50%;
}

.ingredients-box {
  margin-left: 40px;
  width: 30%;
}

.ingredient {
  display: flex;
  flex-direction: row;
}

.fa {
  margin-left: 10px;
}

.ingredient-spacer {
  margin: 0 5px;
}
