.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: $header-background-color;
  height: 70px;
  box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.35);
  .header-item {
    margin: 0 15px;
  }
  a {
    text-decoration: none;
    color: $text-blue;
  }
}

.MisterCocktail-link {
  h1 {
    color: $text-color;
  }
}
